@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothaProLig.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothaProBol.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothaProLigIta.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

/*****************HEADER***********************/

.header {
  margin-bottom: 62px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 77px;
  background-color: #27273e;
}

.header__top-logo {
  width: 99px;
  height: 51px;
  margin-left: 19px;
  margin-top: 13px;
}

.header__top-contacts {
  width: 201px;
  margin-top: 23px;
  margin-right: 18px;
}

.header-contacts {
  font-family: Gotham Pro;
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.header-schedule {
  margin-left: 85px;
  width: 114px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  color: rgba(236, 30, 121, 0.7);
}

/* ********************MAIN********************* */

.main {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: Gotham Pro;
  font-size: 49px;
}

.content {
  width: 898px;
}

/* **********************MENU*********** */

.menu {
  width: 182px;
  padding-left: 20px;
}

.menu__nav-item {
  margin-bottom: 27px;
  text-transform: uppercase;
}

.menu__nav {
  font-family: Gotham Pro;
  font-size: 12px;
  font-weight: bold;
  color: #ec1e79;
  list-style-type: none;
}

.menu-link {
  margin-left: 14px;
}

/* ********************FEATURES*********** */

.features {
  margin-bottom: 78px;
}

.features__item {
  width: 207px;
  margin-right: 68px;
}

.features__item:nth-child(3) {
  margin-right: 127px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  margin-left: 19px;
}

.features__icon {
  /*контейнер */
  margin: 0 auto;
  position: relative;
  width: 68px;
  height: 68px;
  background-color: #27273e;
  border-radius: 50%;
  margin-bottom: 37px;
}

.features__img {
  /*картинка */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features__item-title {
  font-family: Gotham Pro;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.features__item-description {
  font-family: Gotham Pro;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.features__item-list {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 35px;
  padding-left: 40px;
}

.features .title {
  margin-bottom: 52px;
}

/* **************NEWS************************ */

.news {
  margin-bottom: 61px;
}

.news .title {
  margin-bottom: 67px;
}

.news__item {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 48px;
}
.news__item-date {
  font-size: 14px;
  line-height: 21px;
}

.news__item-img {
  margin-right: 20px;
}

.news__icon {
  width: 160px;
  height: 160px;
  border-radius: 50%
}

.news__item-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 12px;
}

.news__item-content {
  font-size: 18px;
  line-height: 30px;
}

/* **************PAGER********************* */

.pager {
  display: flex;
  justify-content: center;
}

.pager__array-prev {
  margin-right: 15px;
}
.pager__array-next {
  margin-left: 15px;
}

.pager__list-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

.pager__description {
  font-family: Roboto, sans-serif;
  color: #656464;
  font-size: 14px;
  line-height: 21px;
  margin-right: 20px;

}

.pager__array-link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #221f1f;
  text-decoration: none;
}

.pager__link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #221f1f;
  font-weight: bold;
  text-decoration: none;
}

/* *************FOOTER********************* */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  background-color: #27273e;
}

.footer__creator {
  width: 281px;
  margin-right: 158px;
  padding-left: 19px;
  
}

.footer__social {
  margin-left: 272px;
  width: 192px;
  padding-top: 20px;
}

.footer__logo {
  width: 100px;
  padding-top: 14px;
}

.footer__social-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4d4d8;
}

.footer__social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__social-text {
  font-family: Gotham Pro;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 9px;
}

.footer-text {
  font-family: Gotham Pro;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}