@import url(./layout/fonts.css);
@import url(./layout/normalize.css);
@import url(./layout/base.css);

@import url(./blocks/header.css);
@import url(./blocks/main.css);
@import url(./blocks/menu.css);
@import url(./blocks/features.css);
@import url(./blocks/news.css);
@import url(./blocks/pager.css);
@import url(./blocks/footer.css);