.advert {
  height: 174px;
  background-image: url("../../img/background.jpg");
  background-color: #27273e;
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding-top: 48px;
  box-sizing: border-box;
  margin-bottom: 57px;
}

.advert__text {
  width: 620px;
}

.advert__discount {
  color: #ec1e79;
  font-family: "Gotham Pro";
  font-weight: 700;
}