.comments .title {
  margin-bottom: 37px;
}

.comments {
  margin-bottom: 36px;
}

.comments__item {
  display: flex;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 18px;
  margin-bottom: 31px; 
}
.comments__item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0; 
}

.comments__img {
  display: block;
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-right: 20px;
  flex-shrink: 0;
  overflow: hidden;
}

.comments__pic {
  max-width: 100%;
  max-height: 100%;
}

.comments__img--empty {
  position: relative;
}
.comments__icon--empty {
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translate(-50%, 0);
}

.comments__date {
  font-family: "Gotham Pro";
  font-size: 14px;
  color: #221f1f;
  font-weight: 300;
  margin-bottom: 6px;
}
.comments__title {
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 10px;
}

.comments__content {
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

 
