.features {
  margin-bottom: 72px;
}

.features__title {
  text-align: center;
  font-family: "Gotham Pro";
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

.features__item {
  box-sizing: border-box;
  padding: 30px;
  width: 272px;
  /* margin-left: 65px; */
  margin-right: 20px;
  border: solid 1px #e8e9ed;
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-left: -65px;
}

.features__icon {
  /*контейнер */
  margin: 0 auto;
  position: relative;
  width: 68px;
  height: 68px;
  background-color: #27273e;
  border-radius: 50%;
  margin-bottom: 37px;
}

.features__img {
  /*картинка */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features__item-title {
  font-family: Gotham Pro;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.features__item-description {
  font-family: Gotham Pro;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.features__item-list {
  font-family: Gotham Pro;
  font-size: 18px;
  line-height: 35px;
  list-style: none;
}

.features .title {
  margin-bottom: 44px;
}

.list-element:before {
  content: '•';
  color: #cc3366;
  margin-right: 32px;
}

