.form {
  width: 700px;
  background-color: #f5f5f5;
  color: #221f1f;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
  padding-top: 52px;
  padding-left: 69px;
}

.form__title {
  color: #221f1f;
  font-family: "Gotham Pro";
  font-size: 49px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 26px;
}

.input {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.input__text {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 269px;
  height: 45px;
  padding-left: 10px;
  border-radius: 3px;
  outline: none;
}

.input__name {
  margin-right: 23px;
}

.input__description {
  margin-top: 0;
  margin-bottom: 8px
}

.form__textarea {
  margin-bottom: 11px;
}

.form__text {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 561px;
  height: 90px;
  padding: 9px;
  border-radius: 3px;
  resize: none;
  outline: none;
}

.button {
  width: 139px;
  height: 45px;
  text-align: center;
  background-color: #27273e;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Gotham Pro";
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 45px;
  margin: 0 auto;
}

.input__text:focus, .form__text:focus {
  border: 1px solid #ec1e79;
}

.button:hover {
  background-color: #ec1e79;
}

.form__link {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
}

.radio {
  display: inline-block;
  vertical-align: top;
  margin-right: 222px;
  margin-bottom: 49px;

}

.radio__description {
  margin-top: 0;
  margin-bottom: 11px;
}

.radio__container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-right: 7px;
}

.radio__standart {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
}

.radio__container input:checked~.checkmark {
  border-color: #ec1e79;

}

.radio__container input:checked~.answer {
  color: #ec1e79;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio__container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: #ec1e79;
  border-radius: 50%;
}