.header {
  margin-bottom: 62px;
  background-color: #27273e;
}

.header--comments {
  margin-bottom: 47px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #27273e;
  padding: 13px 0;
}

.header__top-logo {
  width: 99px;
  height: 51px;
}

.logo__img {
  max-width: 100%;
  max-height: 100%;
}

.header__top-contacts {
  width: 201px;
}

.header-contacts {
  font-family: 'Gotham Pro';
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.header-schedule {
  margin-left: 85px;
}
.header__link {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(236, 30, 121, 0.7);
}
.header__banner {
  margin: 0 auto;
  max-width: 1100px;
}

.header__banner-img {
  max-width: 100%;
  max-height: 100%;
}