.header {
  margin-bottom: 62px;
  background-color: #27273e;
}

.header--comments {
  margin-bottom: 47px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #27273e;
  padding: 13px 0;
}

.header__top-logo {
  width: 99px;
  height: 51px;
}

.logo__img {
  max-width: 100%;
  max-height: 100%;
}

.header__top-contacts {
  width: 201px;
}

.header__phone {
  font-family: 'Gotham Pro';
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.header-schedule {
  margin-left: 85px;
  position: relative;
}

.header__dropdown {
  box-sizing: border-box;
  padding: 17px 10px 16px 10px;
  width: 162px;
  height: 70px;
  box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
  background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
  opacity: 0.95;
  color: #ec1e79;
  font-family: "Gotham Pro";
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  position: absolute;
  display: none;
  top: 100%;
  right: 1px;
}

.header-schedule:hover .header__dropdown {
  display: block;
}

.header-schedule:hover .header__link {
  color: #5dd1f8;
  opacity: 0.7;
}

.header__dropdown-lunch {
  color: #221f1f;
  font-family: "Gotham Pro";
  font-weight: 300;
}

.header__link {
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(236, 30, 121, 0.7);
}

.header__banner {
  margin: 0 auto;
  max-width: 1100px;
}

.header__banner-img {
  max-width: 100%;
  max-height: 100%;
}