.news {
  margin-bottom: 61px;
}

.news .title {
  margin-bottom: 67px;
}

.news__item {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 18px;
  margin-bottom: 26px; 
}

.news__item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0; 
}

.news__item-date {
  font-size: 14px;
  line-height: 21px;
}

.news__item-img {
  margin-right: 20px;
}

.news__icon {
  width: 160px;
  height: 160px;
  border-radius: 50%
}

.news__item-title {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 12px;
}

.news__item-content {
  font-size: 18px;
  line-height: 30px;
}
