.pager {
  width: 360px;
  margin: 0 auto;
}

.pager__list {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.pager__array-prev {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.pager__array-next {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.pager__list-item {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
}
.pager__description {
  display: inline-block;
  vertical-align: middle;
  font-family: Roboto, sans-serif;
  color: #656464;
  font-size: 14px;
  line-height: 21px;
  margin-right: 20px;
}

.pager__array-link {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: #221f1f;
  text-decoration: none;
}

.pager__link {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #221f1f;
  font-weight: bold;
  text-decoration: none;
}

.pager__link--active {
  color: #ffffff;
  background-color: #27273e;
  border-radius: 4px;
  color: #ec1e79;
}

.pager__link:hover {
  color: #ec1e79;
}

.pager--comments {
  margin-bottom: 57px;
}