.prices {
  padding-right: 20px;
}

.prices__block {
  width: 250px;
  margin-bottom: 42px;
}

.prices__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prices__block-img {
  height: 153px;
  margin-bottom: 26px;
  position: relative;
}

.prices__block-img:before {
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #343449;
  opacity: 0.85;
}

.prices__pic {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.prices__block-title {
  width: 80%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #5dd1f8;
  font-family: "Gotham Pro";
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 28px;
}

.prices__title-vip {
  display: block;
  color: #ec1e79;
  line-height: 24px;
}

.prices__description-value {
  padding: 0 20px;
  font-family: "Gotham Pro";
  font-size: 18px;
  font-weight: 700;
  color: #221f1f;
  text-align: center;
  margin-bottom: 10px;
}

.prices__description-text {
  text-align: center;
  font-family: "Gotham Pro";
  color: #221f1f;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.prices__title {
  margin-bottom: 36px;
}

.partners__title {
  margin-bottom: 32px;
}

.partners__list {
  list-style-type: none;
}

.partners__item {
  display: inline-block;
  width: 160px;
  height: 62px;
  vertical-align: top;
  font-size: 0;
  margin-right: 110px;
  margin-bottom: 54px;
}

.partners__img {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 62px;
  text-align-last: center;
}

.partners__pic {
  vertical-align: middle;
  filter: grayscale(100%);
}

.partners__img:hover>.partners__pic {
  filter: grayscale(0);
  transition: 1s;
}